<h3>{{content}} </h3>
<p>Rating: {{rating}}</p>
<button id="delete_review" class="btn-delete_review">
  Delete Review
</button>
<button id="edit_review" class="btn-edit_review">
  <a href="/dashboard/review/{{id}}"> Edit Review</a>
</button>