<section class="edit_review_section">
  <form>
    <label>Edit review</label>
    <input type="text" placeholder="edit your review here!" />
    <button id="edit_review" class="btn_edit_review">
      Submit
    </button>
  </form>

</section>