<section class="edit_review_section">
  <h2>Edit review</h2>
  <form>
    <label for="country">Choose a country:</label>
    <select id="" name="country">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="fiat">Fiat</option>
      <option value="audi">Audi</option>
    </select>
    <label for="rating">Rating: 5 to 1</label>
    <select id="" name="rating">
      <option value=5>5</option>
      <option value=4>4</option>
      <option value=3>3</option>
      <option value=2>2</option>
      <option value=1>1</option>
    </select>
    <label>Review</label>
    <input type="text" placeholder="" />
    <button id="edit_review" class="btn_edit_review">
      Submit
    </button>
  </form>

</section>