{{!-- This is for "/dashboard" --}}
<section class="new-post-btn-section">

  <div class="new-post-btn-section-details">
    <h2>Share more reviews with us!</h2>
    <button>
      <a href="/dashboard/review">🆕 Create a new review</a>
    </button>
  </div>

  {{#if reviews}}
  <div class="new-post-btn-section-details">
    <h2>This is the list of your past reviews!</h2>
    <div>
    {{#each reviews as |review|}}
    {{> dashboard-reviews}}
    {{/each}}
    </div>
  </div>
  {{/if}}

</section>