{{!-- This is for "/dashboard" --}}

<section class="new-post-btn-section">
  <div>
    <h2>List Of Your Reviews</h2>
    <div>
  {{#each reviews as |review|}}
  {{> dashboard-reviews}}
  {{/each}}
    </div>
  </div>
  <button id="createreview" class="btn-new-post">
    <a href="/dashboard/review">Create a new review</a>
  </button>
</section>