{{!-- This is for "/signup" --}}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
        <div class="card-body">
          <form class="login-form">
            <div class="form-group">
              <label for="username-login" class="small mb-1">Username</label>
              <input class="form-control py-4" type="text" id="username-login" placeholder="Enter username" />
            </div>
            <div class="form-group">
              <label for="password-login" class="small mb-1">Password (8+ characters)</label>
              <input class="form-control py-4" type="password" id="password-login" placeholder="Enter password" />
            </div>
            <div class="form-group mt-4 mb-0">
              <button class="btn btn-primary btn-block" type="submit">Login</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-center">
          <div class="small"><a href="/signup">New user? Click HERE for signup!</a></div>
        </div>
      </div>
    </div>
  </div>

<script src="./js/login.js"></script>


{{! This is for "/login" }}
{{!-- <div class="login-signup">
  <div class="login-signup_details">
    <h2 class="add-comment-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="username-login">Username</label><br />
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password (8+ characters)</label><br />
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn-submit" type="submit">Login</button>
      </div>
    </form>
    <a href="/signup">New user? Click HERE for signup!</a>
  </div>
</div>

<script src="./js/login.js"></script> --}}