{{!-- This is for "/signup" --}}
<div id="particles-js">
<div class="container" style="position: relative;
    z-index: 2; padding-top: 12em;">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
        <div class="card-body">
          <form class="login-form">
            <div class="form-group">
              <label for="username-login" class="small mb-1">Username</label>
              <input class="form-control py-4" type="text" id="username-login" placeholder="Enter username" />
            </div>
            <div class="form-group">
              <label for="password-login" class="small mb-1">Password (8+ characters)</label>
              <input class="form-control py-4" type="password" id="password-login" placeholder="Enter password" />
            </div>
            <div class="form-group mt-4 mb-0">
              <button class="btn btn-primary btn-block" type="submit">Login</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-center">
          <div class="small"><a href="/signup">New user? Click HERE for signup!</a></div>
        </div>
      </div>
    </div>
  </div>
  </div>

<script src="./js/login.js"></script>
<script src="./js/particles.js"></script>
<script src="./js/particle-app.js"></script>