{{!-- This is for "/signup" --}}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header"><h3 class="text-center font-weight-light my-4">Signup</h3></div>
        <div class="card-body">
          <form class="signup-form">
            <div class="form-group">
              <label for="username-signup" class="small mb-1">Username</label>
              <input class="form-control py-4" type="text" id="username-signup" placeholder="Enter username" />
            </div>
            <div class="form-group">
              <label for="password-signup" class="small mb-1">Password (8+ characters)</label>
              <input class="form-control py-4" type="password" id="password-signup" placeholder="Enter password" />
            </div>
            <div class="form-group mt-4 mb-0">
              <button class="btn btn-primary btn-block" type="submit">Signup</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-center">
          <div class="small"><a href="/login">Already a user? Click HERE for login!</a></div>
        </div>
      </div>
    </div>
  </div>

<script src="./js/signup.js"></script>